<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List : <%= @list.name %></title>
</head>
<body>
  <h1><%= @list.name %></h1>

  <% @bookmarks.each do |bookmark| %>
    <div class="bookmark">
      <% @movie = Movie.find(bookmark.movie_id) %>
      <%= @movie.title %>
      <%= bookmark.comment %>
      <%= link_to "Delete",
            list_bookmark_path(@list, bookmark),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
    </div>

  <% end %>
  <%= link_to 'Add bookmark', new_list_bookmark_path(@list) %>
  <%= link_to 'Home', "/" %>
</body>
</html>
